/* ImageHover.css */

.image-container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.image {
  position: relative;
  transition: transform 0.2s ease-in-out;
  z-index: 0;
}
.image1 {
  position: relative;
  transition: transform 0.2s ease-in-out;
  z-index: 0;
}

.image:hover {
  transform: scale(1.2);
  z-index: 1;
}
.image1:hover {
  transform: scale(1.5);
  z-index: 1;
}

.description-limit {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 5 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
